@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body, * {
  margin:  0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

ul{
  list-style-type: none;

  li{
    color: inherit;
  }
}

a{
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}
