@use '../global/reset.scss' as *;

.footer{
  position: static;
  bottom: 0;

  &_copyright{
    font-size: .8rem;
    span{
      @extend .footer_copyright;
    }
  }
  
  &_inner{
    @include fluidLayout;
    @include flexCentre;
    padding-bottom: 1rem;
  }
  
  &_social{
    @include flexCentre;

    &.ctn{
      @media screen and (min-width: 767px){
        width: 50%;
      }
    }


    svg{
      color: #000;
    }
  }
}
